.Input {
  margin: 10px;

  label {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
  }

  input {
    width: 100%;
    border: 1px solid grey;
    height: 20px;
    margin-top:5px;
  }

  .error {
    border-color: red;
  }
}